* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 80px;

    background: #252525;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  }
  
 

  
  .nav-center ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
 
  
  .nav-center .active a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .nav-right .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }