.nav-center a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
    transition: 0.3s ease;
    position: relative;
  }
  
  .nav-center a:hover {
    color: white;
  }
  
  .nav-center .active a {
    color: white;
  }